In [ ]:
import os
import pandas as pd
import numpy as np
import copy
import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**read csv**

In [ ]:
data_path = "/content/drive/MyDrive/GA/WO thang 3_With Children WOs.xlsx"
df = pd.read_excel(data_path,sheet_name = 'WO_MAR')

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
column_names = df.columns.to_list()

In [ ]:
print(column_names)

['wonum', 'parent', 'description', 'status', 'priority', 'site', 'wopriority', 'estdur', 'worktype', 'location', 'platform', 'discipline', 'bdpocdiscipline', 'actstart', 'actfinish', 'targstartdate', 'targcompdate', 'schedstart', 'schedfinish', 'estlabhrs', 'estmatcost', 'actlabhrs', 'woclass', 'plusgsafetycrit', 'plusglossquantity', 'plusglossunits', 'funcfailure', 'ggdate', 'checkreportdowntime', 'siteid', 'assetnum', 'istask', 'assignedto', 'estlabcost', 'esttoolcost', 'actlabcost', 'acttoolcost']

In [ ]:
df['bdpocdiscipline']

0       MECH
1       PROD
2       PROD
3       PROD
4       PROD
        ...
2643    MECH
2644    MECH
2645    MECH
2646    MECH
2647    MECH
Name: bdpocdiscipline, Length: 2648, dtype: object

**convert format date/month/year**

In [ ]:
df.targstartdate = df.targstartdate.apply(lambda row : row.strftime('%d/%m/%Y'))

In [ ]:
df.targstartdate = df.targstartdate.apply(lambda row: row[:-4] + "000" + row[-1])

In [ ]:
df.targstartdate

0       01/03/0002
1       01/12/0001
2       01/12/0001
3       01/12/0001
4       01/12/0001
           ...
2643    01/03/0002
2644    01/03/0002
2645    01/02/0002
2646    01/03/0002
2647    01/03/0002
Name: targstartdate, Length: 2648, dtype: object

In [ ]:
df.targcompdate = df.targcompdate.apply(lambda row : row.strftime('%d/%m/%Y'))

In [ ]:
df.targcompdate = df.targcompdate.apply(lambda row: row[:-4] + "000" + row[-1])

In [ ]:
df.targstartdate

0       01/03/0002
1       01/12/0001
2       01/12/0001
3       01/12/0001
4       01/12/0001
           ...
2643    01/03/0002
2644    01/03/0002
2645    01/02/0002
2646    01/03/0002
2647    01/03/0002
Name: targstartdate, Length: 2648, dtype: object

In [ ]:
start_date = "01/03/0002"
end_date = "31/05/0002"

In [46]:
df_3 = df.loc[df.targstartdate.str.contains("/03/0002")]
# df = df.loc[df.targstartdate >= start_date]
# df = df.loc[df.targstartdate <= end_date]
# df = df.loc[df.targcompdate >= start_date]
# df = df.loc[df.targcompdate <= end_date]
df_4 = df.loc[df.targstartdate.str.contains('/04/0002')]
df_5 = df.loc[df.targstartdate.str.contains('/05/0002')]

df_3 = df_3.loc[df.targcompdate.str.contains("/03/0002")]
df_4 = df_4.loc[df.targcompdate.str.contains('/04/0002')]
df_5 = df_5.loc[df.targcompdate.str.contains('/05/0002')]
df = pd.concat([df_3, df_4, df_5])
df.reset_index(drop=True, inplace=True)

In [ ]:
len(df)

2598

In [ ]:
df.targcompdate

0       31/03/0002
1       09/03/0002
2       09/03/0002
3       09/03/0002
4       09/03/0002
           ...
2642    09/03/0002
2643    12/03/0002
2644    31/03/0002
2646    31/03/0002
2647    31/03/0002
Name: targcompdate, Length: 2598, dtype: object

In [47]:
df.targstartdate

0       01/03/0002
69      01/03/0002
70      01/03/0002
71      01/03/0002
72      01/03/0002
           ...
2641    01/03/0002
2643    01/03/0002
2644    01/03/0002
2646    01/03/0002
2647    01/03/0002
Name: targstartdate, Length: 2561, dtype: object

In [48]:
len(df)

2561

**~est_dur**

In [49]:
df['r_estdur'] = (df['estdur'] // 10) + ((df['estdur'] % 10) != 0)

In [50]:
df.r_estdur = df.r_estdur.astype('int32')

In [51]:
df.r_estdur

0       2
69      2
70      1
71      2
72      1
       ..
2641    2
2643    6
2644    1
2646    1
2647    1
Name: r_estdur, Length: 2561, dtype: int32

**convert categorical to number**

In [52]:
df.priority.value_counts()
priority_dict = {'Urgent' : 3, 'High' : 2, 'Medium' : 1, 'Low' : 0}

df.priority = df.priority.map(priority_dict)

**subset data**

In [53]:
col_usage = ['wonum','parent','priority','site','bdpocdiscipline','estdur','targstartdate','targcompdate','r_estdur']

In [54]:
data = df[col_usage]

In [55]:
path = "/content/drive/MyDrive/GA"
filename = path + "/data.csv"
data.to_csv(filename)
data.reset_index(drop = True, inplace = True)